extends layout.pug

block content
	form(action='' onSubmit='return handleSubmit(event);')
		input#linkInput(type='text' name='link' autofocus placeholder='Paste your link here...' oninput='checkForPaste()')
		button#linkButton(type='button' disabled onclick='sendMessage()') Send Link
	#connectionCountArea
		| Connections: 
		span#connectionCount ?
	.optionArea
		label.optionLabel(for='autoSend') Automatically send pasted links?
		input#autoSendOption(type='checkbox' name='autoSend')
	.optionArea
		label.optionLabel(for='autoOpen') Automatically open received links?
		input#autoOpenOption(type='checkbox' name='autoOpen')
	#chatlog
	script(src='static/warpsong.js')