doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		block title
			title WarpSong
		meta(name='description' content='Send links from one place to another')
		link(rel='stylesheet' hred='warpsong.css')
	body
		block content