extends layout.pug

block title
	title WarpSong - Log in

block content
	each error in errors || []
		.error= error
	form(method='post' action='/login')
		label(for='name') Username:
		input(type='text' name='name' autofocus)
		label(for='pw') Password:
		input(type='password' name='pw')
		input(type='submit' value='Log in')
	a(href='/register') Create new account