extends layout.pug

block title
	title WarpSong - Create account

block content
	each error in errors || []
		.error= error
	form(method='post' action='/register')
		label(for='name') Username:
		input(type='text' name='name' autofocus)
		label(for='pw') Password:
		input(type='password' name='pw')
		label(for='confirmPw') Confirm password:
		input(type='password' name='confirmPw')
		input(type='submit' value='Create account')